{% extends 'basebs.html' %}

{% load crispy_forms_tags %} 
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 

{% block title %} Logout {% endblock %} 

{% block header1 %}
  <h1>Pagina di Logout</h1>
{% endblock %}

{% block content %} 

<h2>Logout eseguito con successo</h2>
<h5>A presto!</h5>

{% endblock %}

{% block footer %}
    <a class="btn btn-info" href="{% url 'login' %}" role="button">Login</a>
    <a class="btn btn-warning" href="/admin/" role="button">Admin Login</a>
{% endblock %}