{% extends "basebs.html" %}

{% block title %} Chat Page {% endblock %}

{% block content %}
<br>
<h3>   {{msg}}  </h3>
<br>

  <label for="uname">Username:</label>
  <input type="text" name="uname" id="username"> <br> <br>
  <label for="msg">Messaggio:</label>
  <input type="text" name="msg" id="msg"> <br> <br>

  <p> Chatlog: </p>

  <textarea id="chatlog" rows="20" cols="50">
  </textarea>

<br>
  <button onclick="btnClick()">Invio</button>
<br>

<script>

var socket = new WebSocket('ws://127.0.0.1:8000/ws/chatws/')

socket.onmessage = function(event){

  var data = event.data;
  var d = document.querySelector('#chatlog');
  d.value =  data + '\r\n';
  
}

function btnClick() {

    var obj = new Object();
    obj.user = document.querySelector('#username').value;
    obj.msg = document.querySelector('#msg').value;
    var string = JSON.stringify(obj);
    socket.send(string);
    document.querySelector('#username').disabled = true;
    document.querySelector('#msg').value = "";

  }

  var intervalId = setInterval(function() {
    socket.send("UPDATE");
    }, 1);

</script>

{% endblock %}