{% extends 'basebs.html' %}
{% load static %}

{% block title %}Chi è Ivonne!{% endblock %}

{% block content %}
    <br>
    <h2 style="color: deeppink">CHI SONO</h2>
    <div class="container pt-3">
        <br>
        <img src="{% static 'img/whoami.jpg' %}" alt="whoami">
        <br>
        <br>
        <p class="h4" style="color: darkslategray; text-align: justify; font-family: Vivaldi">{% lorem %}</p>
    </div><br>


{% endblock %}

{% block footer %}
        <p class="text-center"> <b>Ivonne!</b> - Riva del Garda (Trento), 38066 - viale Roma, 20 - tel. 0464 550885 - email info@ivonnestudio.com - p.iva 01763060223</p>
{% endblock %}