<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        {% load static %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
{#   <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>#}
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>

        <div class="container" style="margin-top:5px";></div>

        <div id="logotipo" style="text-align: center";>
            <a href="{% url 'home' %}"><img src="{% static 'img/logotipo.png' %}"></a>
        </div>

        <div class="container" style="margin-top:5px"></div>

        <style>

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            {#width: 200px;#}
            overflow: hidden;
            background-color: #f1f1f1;
            }

        li {
            {#display: inline;#}
            float:left;
        }

        li a {
            display: block;
            color: #666;
            padding: 14px 16px;
            text-align: center;
            text-decoration: none;
            }

            /* Change the link color on hover */
            li a:hover {
            background-color: #FF1493;
            color: white;
            }
            </style>
        {% endblock %}

        {% block header %}{% endblock %}
        {% load crispy_forms_tags %}

    </head>


    <title>{% block title %} {% endblock %}</title>

    <body>


        {% if user.is_authenticated and "ok" in request.GET.login  %}

        <div id="info" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Welcome {{user.username}} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> La procedura di login è andata a buon fine </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Chiudi</button>
            </div>
            </div>
        </div>
        </div>
        <script>
        $(document).ready(function(){
            $("#info").modal('show');
        });
        </script>

        {% endif %}


        <nav>

            {% block navbar %}

            <div id="navbar">
            <ul>


                <li>
                <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>

                <li>
                <a class="nav-link" href="{% url 'chi_sono' %}">Chi sono</a>
                </li>

                <li>
                <a class="nav-link" href="{% url 'gestione:listaservizi' %}">Servizi proposti</a>
                </li>

                <li>
                <a class="nav-link" href="{% url 'gestione:cercaservizio' %}"> Ricerchi un servizio </a>
                </li>

                <li>
                <a class="nav-link" href="{% url 'gestione:home' %}">Gestione Appuntamenti</a>
                </li>

                <li>
                <a class="nav-link" href="{% url 'chat:chatpage' %}"> Info Chat</a>
                </li>

                {% if "Creativi" in user.groups.all.0.name %}
                <li style="float:right">
                <a class="nav-link" href="{% url 'gestione:crea_servizio' %}">Crea Servizio</a>
                </li>
                {% endif %}
            </ul>

            </div>
            {% endblock %}
        </nav>

            <center>

            {% block content %}
            <h2>TITLE HEADING</h2>
            <h5>Title description, Dec 7, 2017</h5>
            <div class="fakeimg">Fake Image</div>
                <p>Some text..</p>
                <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            {% endblock %}
            <br>
            </center>
{#            </div>#}
{#        </div>#}


        <div class="jumbotron text-center" style="margin-bottom:0" style="margin-top: 0">
        {% block footer %}

        {% if user.is_authenticated %}
        <a class="btn btn-info" href="{% url 'logout' %}" role="button">Logout</a>
        {% else %}
        <a class="btn btn-info" href="{% url 'register' %}" role="button">Registrati</a>
        <a class="btn btn-info" href="{% url 'login' %}" role="button">Login</a>
        {% endif %}

        <a class="btn btn-warning" href="/admin/" role="button">Admin Login</a>

        {%  endblock %}
        </div>


    </body>
</html>