{% extends 'basebs.html' %}

{% load static %}

{% block title %} Ivonne! {% endblock %}

{% block content %} 

{#<h2 style="font-family:'Vladimir Script'" font-size="40">Seriamente, col sorriso</h2>#}
{#<h5></h5>#}
        <div id="Carousel" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                <li data-target="#Carousel" data-slide-to="1"></li>
                <li data-target="#Carousel" data-slide-to="2"></li>
            </ol>

        <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static "img/particolare.jpg" %}" alt="firstimg" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="{% static "img/treccia.jpg" %}" alt="secondimg" class="d-block w-100">
                </div>
                <div class="carousel-item">
                    <img src="{% static "img/vetrine.jpg" %}" alt="thirdimg" class="d-block w-100">
                </div>
            </div>

        <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#Carousel" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>

        </div>
{#<p >Prego, accomodatevi!</p>#}

{% endblock %}