{% extends 'basebs.html' %}

{% load static %}
{% load crispy_forms_tags %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 

{% block title %} Appuntamento {% endblock %}

{#{% block header1 %}#}
{#  <h1>{{servizio}}</h1>#}
{#{% endblock %}#}

{% block content %} 

{% if "NO_ERRORS" == errore %}
<div class="alert alert-success" role="alert">
    {% if "Clienti" in user.groups.all.0.name %}
        Appuntamento fissato! <br> Ci vediamo per il servizio {{ servizio.nome }}! <br> Data e ora: {{ appuntamento.data_ora_inizio|date:'d-m-Y H:i' }}!
        <img src="{% static "img/welcome.jpg" %}" class="d-block w-25">
    {% else %}
        Appuntamento fissato! <br>  Servizio: {{ servizio.nome }} Cliente: {{ appuntamento.cliente }} <br> Data e ora: {{ appuntamento.data_ora_inizio|date:'d-m-Y H:i' }}
    {% endif %}
{% else %}
<div class="alert alert-danger" role="alert">
  Prenotazione fallita: {{ errore }} <br> <br>
    {% if "Clienti" in user.groups.all.0.name %}
    <img src="{% static "img/closed_door.jpg" %}" class="d-block w-25">
    {% endif %}
    <br>
  {% for i in alternativa %}
  <a class="btn btn-danger" href="{% url 'gestione:prenota_risultati' servizio.pk i who %}" role="button">PROPOSTA: {{ i|date:'d-m-Y H:i' }}</a>

  {% endfor %}
  <a class="btn btn-info" href="{% url 'gestione:prenota' servizio.pk %}" role="button"> Ricerchi altre date </a>
{% endif %}
</div>


{% endblock %}

