{% extends 'basebs.html' %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{% block title %} Cancellazione appuntamento {% endblock %}


{% block content %}
    <br>
    <h2>Cancellazione Appuntamento</h2>
    <br>
<form method="post">{% csrf_token %}
    <p>Si è sicuri di voler cancellare l'appuntamento con data e ora "{{ object.data_ora_inizio|date:'d-m-Y H:i' }}"</p>
    <p>per il Servizio {{ object.servizio.nome }}?</p>
    {{ form }}
    <input type="submit" value="Conferma">
</form>

<br>
    <a class="btn btn-success" href="{% url 'gestione:situazione_gen' %}" role="button">Indietro</a>
<br>
{% endblock %}


