{% extends 'basebs.html' %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{% block title %} Cancellazione Servizio {% endblock %}


{% block content %}
    <h2>Cancellazione Servizio</h2>
    <br>
<form method="post">{% csrf_token %}
    <p>Si è sicuri di voler cancellare il Servizio "{{ object.nome }}"?</p>
    {{ form }}
    <input type="submit" value="Conferma">
</form>
<br>
    <a class="btn btn-success" href="{% url 'gestione:listaservizi' %}" role="button">Indietro</a>
<br>
{% endblock %}


