{% extends 'basebs.html' %}

{% block title %} Home di Gestione {% endblock %} 

{% block content %}
  <h2>Home di Gestione</h2>
  {% if "Creativi" in user.groups.all.0.name or user.is_staff %}
    <p style="color: deeppink; font-size: x-large"> Hairstylist loggato: {{ user.username }}</p>
  {%  else %}
  <p style="color: deeppink; font-size: x-large"> Salve,
    {% if user.is_authenticated %}
     {{ user.username }}!
    {% else %}
    Utente non registrato!
    {% endif %}
  </p>

<h4>Cosa desidera fare?</h4>
      <br>
      <h4 style="color: deeppink;"> Per fissare un Appuntamento occorre scegliere il Servizio e cliccare su "Appuntamento" </h4>
  {% endif %}

<br>

<div class="list-group">
  <a href="{% url 'gestione:cercaservizio' %}" class="list-group-item list-group-item-info">Cercare un Servizio</a>
  <a href="{% url 'gestione:listaservizi' %}" class="list-group-item list-group-item-info">Visionare l'elenco dei Servizi proposti</a>
  {% if "Clienti" in user.groups.all.0.name %}
  <a href="{% url 'gestione:situazione' %}" class="list-group-item list-group-item-info">Controllare i miei appuntamenti</a>
  {% endif %}
</div>

    <br>

    {% if "Creativi" in user.groups.all.0.name or user.is_staff %}
    <br>
    <a href="{% url 'gestione:situazione_gen' %}" class="list-group-item list-group-item-warning">Situazione Appuntamenti</a>
    <a href="{% url 'gestione:ricerca_appuntamento' %}" class="list-group-item list-group-item-warning">Ricerca Appuntamento</a>
    <br>
{% endif %}


{% endblock %}