{% extends 'basebs.html' %}


{% block title %} Lista dei Servizi {% endblock %}


{% block content %}
    <style>
    .btn-primary,
    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:visited,
    .btn-primary:focus {
    background-color: #FF1493 !important;
    border-color: #FF1493 !important;
    }
    </style>
    <br>
 {% if object_list.count == 0 %}
   <h2> La ricerca non ha prodotto alcun risultato </h2>
{% else %}
<h2> {{ view.titolo }} </h2>
{% endif %}
<br>
<div class="row">
{% for l in object_list %}
<br>
<div class="col-md-4" style="width: 30rem;">
<div class="card mb-2" style="width: 30rem;">
    {% if l.immagine %}
    <img class="card-img-top" src="{{ l.immagine.url }}" alt="Card image cap" style="max-height:160px"><div class="card-body">
    {% endif %}
    <h5 class="card-title">{{ l.nome }}</h5>
    <p class="card-text"> Tempo di esecuzione: {{ l.minuti }} min</p>
    {{ l.testo }}<br><br>
        <div class="btn-group">
        <a href="{% url 'gestione:prenota' l.pk %}" class="btn btn-info" role="button">Appuntamento</a>  <br><br>
        {% if "Creativi" in user.groups.all.0.name %}
        <a href="{% url 'gestione:cancella_servizio' l.pk %}" class="btn btn-warning" role="button">Cancella Servizio</a>
        <a href="{% url 'gestione:modifica_servizio' l.pk %}" class="btn btn-primary" role="button">Modifica Servizio</a>

        {% endif %}
        </div>
    </div>
  </div>
</div>
<br>
{%endfor%}
</div>
<br>

{% endblock %}