{% extends 'basebs.html' %}

{% load crispy_forms_tags %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{% block title %} Modifica Servizio {% endblock %}


{% block content %}
    <h2>Modifica Servizio</h2>
    <br>
{#<form method="post">{% csrf_token %}#}
    <p>Servizio da modificare: {{ object.nome }}?</p>

    <div class="d-flex justify-content-center">

  {% crispy form %}

</div>
{#    {{ form.as_p }}#}
{#    <input type="submit" value="Conferma">#}
</form>

{% endblock %}