{% extends 'basebs.html' %}

{% block title %} Cerchi tra i Servizi {% endblock %}

{% load crispy_forms_tags %}
{#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> #}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">


{% block content %} 
<br>
<h2> Ricerchi tra i Servizi </h2>

<br>

<br>

<div class="d-flex justify-content-center">

  {% crispy form %}

</div>
<br>


<br>

{% endblock %}