{% extends 'basebs.html' %}


{% block title %} Situazione Generale {% endblock %}

{% block content %}
    <br>
  <h2>Loggato come {{user.username}} </h2>
  <p>Salve,
     {{ user.username }}!
  </p> 
    <h2>{{ view.titolo }}</h2>


{% if object_list|length == 0 %}
    <h3>Al momento non è stato fissato alcun appuntamento</h3>
 {% elif object_list|length == 1 %}
    <h3></h3>
 {% else %}
    <h3>Al momento sono stati fissati {{ object_list|length }} appuntamenti</h3>
 {% endif %}
    <br>

{% for a in object_list  %}
<br>
<div class="card">
  <div class="card-header">
      Appuntamento di {{a.cliente}} per {{ a.servizio.nome }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ a.data_ora_inizio|date:'d-m-Y H:i' }}   </h5>
    <p class="card-text"> Durata: {{ a.servizio.minuti }} </p>
    
    <a href="{% url 'gestione:cancella_appuntamento' a.pk %}" class="btn btn-danger"> Cancella Appuntamento </a>
{#    <a href="{% url 'gestione:modifica' a.pk %}" class="btn btn-info"> Modifica Appuntamento </a>#}
  </div>
</div>
<br>
{%endfor%}

<br>

{% endblock %}