{% extends 'basebs.html' %}


{% block title %} Situazione di {{user.username}} {% endblock %}

{% block header1 %}
  <h1>Situazione di {{user.username}} </h1>
  <p>Salve,
    {% if user.is_authenticated %}
     {{ user.username }}!
    {% else %}
    Utente non registrato!
    {% endif %}
  </p> 
{% endblock %}

{% block content %} 
{% if "Clienti" in user.groups.all.0.name %}
<h2>Risulta che ha prenotato {{ listappuntamenti.count }} appuntamenti </h2>
{% endif %}
<br>

{% for a in listappuntamenti %}
<br>
<div class="card">
  <div class="card-header">
     Servizio: {{ a.servizio.nome }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ a.data_ora_inizio|date:'d-m-Y H:i' }}</h5>
    <p class="card-text"> Durata: {{ a.servizio.minuti }}</p>
    
    <a href="{% url 'gestione:cancella_appuntamento' a.pk %}" class="btn btn-danger"> Cancellazione </a>

  </div>
</div>
<br>
{%endfor%}

    <a href="{% url 'gestione:listaservizi' %}" class="btn btn-success"> Nuovo Appuntamento </a>
    {% if "Creativi" in user.groups.all.0.name %}
    <a href="{% url 'gestione:situazione_gen' %}" class="btn btn-success"> Torna a Situazione Appuntamenti </a>
    {% endif %}
<br>

{% endblock %}